.header.mat-elevation-z6
	.button-row
		a.mat-button(
			*ngFor='let item of menuItems'
			mat-button
			[routerLink]='item.Url'
			routerLinkActive='mat-button--active'
		) {{item.Name}}

nav(
	mat-tab-nav-bar
	*ngIf='isShowSubmenu'
)
	a(
		*ngFor='let subItem of selectedMenuItem.Childs'
		mat-tab-link
		routerLink='{{selectedMenuItem.Url}}/{{subItem.Url}}'
		routerLinkActive
		#rla='routerLinkActive',
		[active]='rla.isActive'
	) {{subItem.Name}}
