.common-table(class='{{classes}}')
	.title {{title}}

	mat-table.mat-elevation-z8(
		[dataSource]='data'
	)

		ng-container(
			*ngFor='let field of fields; let i = index;'
			matColumnDef='{{field.fieldName}}'
		)
			mat-header-cell(
				*matHeaderCellDef
			) {{field.title}}

			mat-cell(
				*matCellDef='let element'
			)
				span([ngSwitch]='field.type')
					span(*ngSwitchCase="'link'")
						a.link(
							[href]='element.url'
							target='_blank'
						) {{element[field.fieldName]}}

					span(*ngSwitchCase="'time'")
						span([innerHtml]='element[field.fieldName] | tableTimeFieldFormatter: isWithoutSeconds')

					span(*ngSwitchDefault) {{element[field.fieldName]}}

		mat-header-row(
			*matHeaderRowDef='displayedColumns'
		)

		mat-row(
			*matRowDef='let row; columns: displayedColumns;'
		)
