common-table(
	[data]='data',
	[fields]='seasonsFields'
	title='Дистанция'
)

ng-container(*ngFor='let item of data.reverse()')
	common-table(
		[data]='item.distanceByMonths',
		[fields]='distanceByMonthsFields'
		title='{{item.title}} — дистанция'
	)
