ng-container(*ngIf='screenState.isMobile')
	common-table(
		[data]='data',
		[fields]='mobileFields'
		classes='small_table'
		isWithoutSeconds='true'
	)

ng-container(*ngIf='!screenState.isMobile')
	common-table(
		[data]='data',
		[fields]='generalFields'
	)
