.filter
	.filter_item(
		*ngFor='let item of skiActivitiesTypes'
	)
		mat-checkbox(
			(change)='filter()',
			[(ngModel)]='item.isSelected'
		) {{item.name}}

ng-container(*ngIf='data?.length')
	ng-container(*ngIf='screenState.isMobile')
		common-table(
			[data]='data',
			[fields]='mobileFields'
			classes='small_table'
			isWithoutSeconds='true'
		)

	ng-container(*ngIf='!screenState.isMobile')
		common-table(
			[data]='data',
			[fields]='generalFields'
		)

ng-container(*ngIf='data && !data.length')
	no-data
